<template>
<div class="box">
    <div class="box">
        <div class="text">
            Połączenie zakończone
        </div>
    </div>
    <div class="chat-button" @click="goToSignIn()">Powrót</div>
</div>
</template>

<script>
import ViewManager from "../services/ViewManager";

export default {
  mounted() {
    ViewManager.stopListening()
  },
  methods: {
    goToSignIn() {
       this.$router.push({
        name: "signIn"
      });
    }
  }
};
</script>