<template>
  <div>
      <div class="dataBox">
        <label>Nazwa użytkownika: {{userName}}</label>
        <br/>
        <label>Numer telefonu: {{userNumber}}</label>
      </div>
    <br/><br/>
    <div id="chatbox">
        <div v-for="message in messages" v-bind:key="message">
            <b>{{ message.user }}</b>: {{ message.message }}
        </div>
    </div>
    <br/>
    <form>
    <input v-model="newMessage" class="chat-form clearfix" id="sign-in-form-name"/>
    <button type="submit" :disabled="!isMessageValid" class="chat-button" @click="sendMessage()">Wyślij</button>
    </form>
    <br/><br/>
    <div class="chat-button" @click="startConversation()">Połączenie</div>
  </div>
</template>

<script>
import ChatManager from '../services/ChatManager';

export default {
  mounted() {
    ChatManager.receiveMessage((message) => {
        this.messages.push(message);
        this.newMessage = '';
        this.$nextTick(() => {
            let box = document.getElementById('chatbox');
            box.scrollTop = box.scrollHeight;
        })
    });
  },
  data() {
    return {
      newMessage: "",
      messages: [],
      userName: this.$route.params.userName,
      userNumber: this.$route.params.userNumber
    };
  },
  computed: {
    isMessageValid: function isNameValid() {
      return (/(.|\s)*\S(.|\s)*/.test(this.newMessage));
    }
  },
  methods: {
    startConversation() {
      this.$router.push({
        name: "start",
        params: {
          userNumber: this.userNumber
        }
      });
    },
    sendMessage() {
        ChatManager.sendMessage(this.newMessage);
        this.newMessage = "";
    }
  }
};
</script>