<template>
  <div class="box">
    <div class="text">Zaraz nastąpi połączenie...</div>
    <div class="text">{{ timer }}s</div>
  </div>
</template>

<script>
import ViewManager from "../services/ViewManager";

export default {
  data() {
    return {
      timer: 0
    }
  },
  mounted() {
    setInterval(() => {
      this.timer++;
    }, 1000);
    const callsId = this.$route.params.callsId;
    ViewManager.checkStatus(callsId);
  }
};
</script>