<template>
  <div>
    <br /><br /><br /><br />
    <form>
      <input required v-model="userName" placeholder="Pseudonim" class="chat-form clearfix" id="sign-in-form-name"/>
      <br /><br />
      <input required v-model="userNumber" placeholder="Numer telefonu" class="chat-form clearfix" id="sign-in-form-phone-number"/>
      <div class="error" v-show="userNumber && !isNumberValid">Niepoprawny numer telefonu</div>
      <br /><br /><br /><br />
      <button type="submit" :disabled="!isNameValid || !isNumberValid" class="call-button" @click="join()">Dołącz</button>
    </form>
  </div>
</template>

<script>
import ChatManager from "../services/ChatManager";
export default {
  data() {
    return {
      userName: "",
      userNumber: ""
    };
  },
  computed: {
    isNumberValid: function isNumberValid() {
      return /(^[0-9]{9}$)/.test(this.userNumber);
    },
    isNameValid: function isNameValid() {
      return /(.|\s)*\S(.|\s)*/.test(this.userName);
    }
  },
  methods: {
    join() {
      ChatManager.addUser({
        userName: this.userName,
        userNumber: this.userNumber
      });
      this.$router.push({
        name: "chat",
        params: {
          userName: this.userName,
          userNumber: this.userNumber
        }
      });
    }
  }
};
</script>