<template>
  <div>
    <div class="header clearfix">Połączenie nastąpi w przeciągu 26 sekund</div>
    <form>
      <input required v-model="number" placeholder="Numer telefonu" class="chat-form clearfix" id="form-number" />
      <div class="error" v-show="number && !isNumberValid">Niepoprawny numer telefonu</div>
      <br/><br/><br/>
      <button type="submit" :disabled="!isNumberValid" class="call-button" @click="call()">Zadzwoń</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      number: ""
    };
  },
  computed: {
    isNumberValid: function isNumberValid() {
      return (/(^[0-9]{9}$)/.test(this.number));
    }
  },
  methods: {
    async call() {
      let responseStream = await fetch("http://localhost:3000/call", {
        method: "POST",
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        },
        body: JSON.stringify({ number: this.number })
      });
      let response = await responseStream.json();

      if (response['success']) {
        this.$router.push({
          name: 'ringing',
          params: {
            callsId: response.id
          }
        })
      } else {
        this.$router.push({
          name: 'failed'
        })
      }
    }
  }
};
</script>

