<template>
  <div class="window">
    <router-view />
  </div>
</template>

<style>
.window {
  width: 800px;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgb(205, 208, 216);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 1.15em;
}

.box {
  text-align: center;
}
.text {
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
}

.header,
.form-number {
  margin-bottom: 50px;
}

.header {
  margin-top: 50px;
  font-size: 38px;
  font-weight: 600;
}

.form-label {
  font-size: 32px;
  font-weight: 600;
}

.form-number {
  width: 400px;
  height: 55px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
}

.call-button,
.call-button-bottom {
  width: 300px;
  height: 75px;
  vertical-align: middle;
  font-size: 22px;
  font-weight: 600;
  line-height: 75px;
  background: #008000;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  margin: 0 auto;
}
.call-button-bottom {
  margin-top: 300px;
}

.call-button:hover {
  filter: brightness(80%);
}

.error {
  border: 1px solid #ff0000;
  background: rgb(255, 170, 170);
  height: 20px;
  width: 500px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#chatbox {
  height: 200px;
  overflow-y: scroll;
  text-align: left;
}

.dataBox {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
  clear: both;
}

.chat-button,
.chat-button-bottom {
  width: 150px;
  height: 75px;
  vertical-align: middle;
  font-size: 22px;
  font-weight: 100;
  line-height: 75px;
  background: #0194a7;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  margin: 0 auto;
  float: right;
}
.chat-button-bottom {
  margin-top: 50px;
}

.chat-button:hover {
  filter: brightness(80%);
}

.chat-form,
.chat-form::placeholder {
  margin-top: 10px;
  height: 45px;
  width: 500px;
  vertical-align: middle;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
}

input:focus {
  outline: 0;
}

</style>

